node_modules
out
.env
token.json
data/metadata.json
data/captions.json
data/background.json
public/audio
public/video
public/sample
.remotion

.backup-pre-optimize/
public/music/
github-secrets.txt
yt-token-secret.txt
